@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
    height: auto;
    scroll-behavior: smooth;
    font-size: 15px;
}
/* =================================================================================
                            MISE EN FORME DE L'ENTETE
   =================================================================================
*/
#supheader{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px  20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    /* z-index: 1000; */
}
.main{
    height: 100vh;
}

#header{
    align-items: baseline;
    background-color: #f2f2f2;
    /* border-bottom: 1px solid gray; */
}
#header button{
    font-size: 50px;
}
#header h3 span{
    color: green;
}

#header h3{
    padding: 10px;
}
#mynavbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
#mynavbar li{
    padding: 5px;
    margin-right: 10px;
}
#mynavbar li:hover{
    background-color: green;
    border-radius: 6px;
    /* margin: 3px; */
    /* padding: 3px; */
    color: white;
    transition: background-color 1s;
}
#mynavbar li a:hover{
    color: white;
}

/* #mynavbar li:hover{
    border-radius: 6px;
    color: white;
} */
#mynavbar li a, #header a{
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 900;
    letter-spacing: 2px;
    color: green;
    
}
#header a h3{
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem; /*2.5rem*/
    font-weight: 900;
    letter-spacing: 2px;
}
/* ================================
        responsive de l'entête
   ================================
*/
@media screen and (max-width: 550px){
        #supheader > #header > a > h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        #mynavbar{
            padding: 2px;
            margin: 2px;
        }
        #mynavbar li a {
            font-size: 1rem;
            padding: 0;
        }
        #mynavbar li {
            margin: 0;
        }
}

/* ==============================================================
                LA MISE EN FORME MENU PRINCIPAL DU SITE
    =============================================================
 */

.main-content{
    height: auto;
    background: no-repeat;
    margin-bottom: 100px;
}

.caption .caption-title{
    font-size: 2.8rem;
    font-weight: 500;
    padding: 8px;
    /* justify-content: center;
    align-items: center; */
}

.caption .caption-content{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: #f2f2f2;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.50;
    width: auto;
}

.caption li{
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 30px;
    z-index: 1002;
    background-color: green;
    padding: 10px 15px 10px 15px;
    border: none;
    /* border-radius: 10%;    */
}
.caption li:hover{
    background-color: #f2f2f2;
    border-radius: 5%;
}
.caption li a{
    text-decoration: none;
    color: white;
    /* z-index: 1002; */
}
.caption li a:hover{
    color: green;
}
.caption span{
    color: green;
    /* font-weight: 900; */
}
.caption{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    /* width: 100%; */
    height: 100vh;
    object-fit: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1002;
}
/*  ================================================
                Le responsive du Menu principal
    ================================================
 */

 /* ===========================
    LA LARGEUR DE L'ECRAN 
    ===========================    
*/

 @media screen and (max-width: 300px){

    #main-caroussel .caption h3 {
        justify-content: center;
        font-size: 24px;
        letter-spacing: 0;
        font-weight: 400;
        /* margin-top: 20px; */
    }
    #main-caroussel .caption h5{
        font-size: 0.8rem;
        text-align: justify;
    }
    .caption{
        width: auto;
        padding: 0;
        margin: 30px;
    }
    .caption .caption-content{
        font-size: 18px;

    }
}
 @media screen and (max-width: 768px){
    .caption .caption-content{
        font-size: 25px;
        letter-spacing: 2px;

    }
    .main-caroussel .caption{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 800px) {
    .caption .caption-content{
        height: auto;
        letter-spacing: 2px;
        font-size: 35px;
    }
}

/*  ======================== 
    LA HAUTEUR DE L'ECRAN 
    ========================
*/

@media screen and (max-height: 414px) {
    .caption .caption-content{
        letter-spacing: 2px;
        font-size: 20px;
    }
    .caption{
        margin: 15px;
    }
}
@media screen and (max-height: 720px) {
    .caption .caption-content{
        height: auto;
        letter-spacing: 2px;
        font-size: 35px;
    }
}

/*=========================================================================
                LA MISE EN FORME DE LA SECTION "About Us"
===========================================================================
*/

#about{
    position: relative;
    height: 100%;
    /* z-index: 1002; */
    background-color: #f2fdf8;
}
#about h1{
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-weight: 900;
    color: green;
}
#about div h3{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: 800;
}
#about div p{
    font-size: 1.3rem;
}

/*
  ========================================
    Mise en forme de la section partner
  ========================================
*/

#partners{
    margin-bottom: 25px;
    background-color: white;
    width: 100%;
}

#partners #logo_perso{
    font-size: 3.0rem;
    font-weight: 900;
    letter-spacing: 2px;
}
#partners #logo_perso span{
    color: green;
}
#partners #logo-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#partners #logo-section a #logo_msf{
    width: auto;
    height: auto;
}

/*===============================================================
        REGLE RESPONSIVE DE LA SECTION PARTENAAIRE(E)S
 ================================================================
*/
@media screen and (max-width: 780px){
    #partners #logo-section{
        flex-wrap: wrap;
    }
    #partners #logo-section a #logo_msf{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*===============================================
          MISE EN FORME DU FOOTER 
  ===============================================
*/
footer{
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px  20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 150px;
}
footer #myfooter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    justify-content: space-between;
    padding: 5px;
}
#footer #myfooter #svg{
    width: 25px;
    height: auto;
}
footer #myfooter li{
    margin: 6px;
}

#footer{
    position: relative;
}
#myfooter li a:hover{
    background-color: green;
    /* margin: 3px; */
    /* padding: 3px; */
    color: white;
    transition: background-color 1s;
}
#svg-up{
    width: 25px;
    height: auto;
    border-top: 2px solid green;
    padding: 2px;
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px  20px 0 rgba(0, 0, 0, 0.19);
    color: whitesmoke;
}
#footer a h3{
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem; /*2.5rem*/
    font-weight: 900;
    letter-spacing: 2px;
}
#footer a h3 span{
    color: green;
}
#footer a{
    text-decoration: none;
}
/* =================================================
                Le resposive du footer 
   =================================================
*/
@media screen and (max-width: 550px){
        footer > #supheader > #footer > a > h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        footer #myfooter{
            padding: 2px;
            margin: 2px;
        }
        footer #myfooter li a {
            font-size: 1rem;
            padding: 0;
        }
        footer #footer #myfooter li {
            margin: 5px;
        }
        /* #supheader > #header > a > h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        #mynavbar{
            padding: 2px;
            margin: 2px;
        }
        #mynavbar li a {
            font-size: 1rem;
            padding: 0;
        }
        #mynavbar li {
            margin: 0;
        } */
}